/*main*/
body{
    font-family: sans-serif;
    background-color: rgb(239, 222, 201);
    box-sizing: border-box;
    flex-wrap: wrap;
}
.div1{
    margin: auto;
}

.div2{
    margin: auto;
    background-color: azure;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    width: 80%;
}




/*nav+ul+a and more like that*/
nav{
    display: flex;
    justify-content: center;
}

li{
    background-color: rgba(244, 223, 160, 0.811);
    font-weight: bold;
    font-size: large;
    width: 30%;
    height: 60%;
    margin: 10px;
    border-radius: 12px;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li:hover{
    cursor:pointer;
    background-color: rgb(163, 171, 177);
    transition: 0.3s ease-in-out;
    a{
        color:aliceblue;
    }
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.674);
    padding: 19px 18px;
}

h1{
    font-weight: bold;
    font-size:xx-large;
}

h2{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

p{
    font-size:large;
    margin: 17px;
}

.for_another_p{
    margin: auto;
    margin-bottom: 10px;

}

/*img+background*/
.bob {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
}







/*section, article and more*/

section{
    display: flex;
    flex-direction: column;
    margin: 50px;
    border-radius: 12px;
    background-color: beige;
    justify-content: center;
}

.bob2{
    margin: 0 auto;
}

/*form*/

form{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 70%;
    border-radius: 12px;
    margin-bottom: 14px;
}

label{
    margin: 0 auto;
    font-size: large;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

input{
    background-color: beige;
    border: 3px solid black;
    border-radius: 9px;
    margin: 23px auto;
    width: 70%;
    padding: 17px;

}

.bob3{
    background-color: blanchedalmond;
    padding: 15px;
    font-weight: bolder;
}

.bob3:hover{
    transition: 0.3s ease-in-out;
    background-color: rgb(231, 201, 157);
    color:aliceblue;
    cursor:pointer;
}

select{
    padding: 5px;
    width: 30%;
    margin:auto;

}